<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li>
                        <a href="/"><i class="fa fa-angle-double-right"></i>Home</a>
                    </li>
                    <li>
                        <a href="/aboutus"><i class="fa fa-angle-double-right"></i>About</a>
                    </li>
                    <li>
                        <a href="/contact"><i class="fa fa-angle-double-right"></i>Contact</a>
                    </li>
                    <li>
                        <a href="/offers"><i class="fa fa-angle-double-right"></i>Offers</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">&copy All right Reversed.<a class="text-green ml-2"
                        href="http://e-book-store.herokuapp.com" target="_blank">HG Book Store</a></p>
            </div>
            <div class="copyright text-center">
                <h6>
                    <b>Total Visitors</b>
                </h6>
                <img src='http://www.hit-counts.com/counter.php?t=MTQ0MTY2Ng==' border='0' alt='logo redesign'>
            </div>
            </hr>
        </div>
    </div>
</section>
<!-- ./Footer -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script>
    var preloader = document.getElementById("loading");
    function myFunction() {
        preloader.style.display = 'none';
    }
</script>
</body>

</html>