<div class="footer">
    <div class="location">
        <a href="/aboutus">About Us</a>
    </div>
    <div class="location">
        <a href="/contact">Contact us</a>
    </div>
    <div class="location">
        <a href="/offers">Offers</a>
    </div>

    <div style="margin-top: 100px" class="copyright">
        <h5>
            <b>Total Visitors</b>
        </h5>
        <img src='http://www.hit-counts.com/counter.php?t=MTQ0MTY2Ng==' border='0' alt='logo redesign'>
    </div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script>
    var preloader = document.getElementById("loading");
    function myFunction() {
        preloader.style.display = 'none';
    }
</script>
</body>

</html>