<%include ../partials/header%>

<div class="register-forms">
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/register" method="POST" class="form-group">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="/login/facebook" class="social facebook-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="/login/google" class="social google-icon"><i class="fab fa-google-plus-g"></i></a>
                    <!-- <i href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
                </div>
                <span>or use your email for registration</span>
                <div class="imgcontainer">
                    <div class="form-group">
                        <img src="https://previews.123rf.com/images/tanyastock/tanyastock1803/tanyastock180300490/97923644-user-icon-avatar-login-sign-circle-button-with-soft-color-gradient-background-vector-.jpg"
                            alt="Avatar" class="avatar">
                    </div>
                </div>
                <input type="text" placeholder="Username" name="username" required>
                <input type="password" placeholder="Password" name="password" required>
                <input type="text" placeholder="First name" name="firstname" required>
                <input type="text" placeholder="Last name" name="lastname" required>
                <input type="email" placeholder="Email" name="email" required>
                <button type="submit">Sign Up</button>
                <label>
                    <input type="checkbox" name="remember" required class="float-left"> Accept Terms and Conditions
                </label>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/login" method="POST" class="form-group">
                <h1>Sign in</h1>
                <div class="social-container">
                    <a href="/login/facebook" class="social facebook-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="/login/google" class="social google-icon"><i class="fab fa-google-plus-g"></i></a>
                    <!-- <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
                </div>
                <span>or use your account</span>
                <div class="imgcontainer">
                    <div class="form-group">
                        <img src="https://previews.123rf.com/images/tanyastock/tanyastock1803/tanyastock180300490/97923644-user-icon-avatar-login-sign-circle-button-with-soft-color-gradient-background-vector-.jpg"
                            alt="Avatar" class="avatar">
                    </div>
                </div>
                <input type="text" placeholder="Enter Username" id="username" name="username" class="form-control" required>
                <input type="password" placeholder="Enter Password" id="password" name="password" class="form-control" required>
                <button type="button" id="show_password" name="show_password">SHOW</button>
                <a href="/forgot" class="forgot-password">Forgot your password?</a>
                <button type="submit" value="Login!">Login</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){       //checking that the JQUERY is active and ready to execute
        console.log("hi"); 
        $('#show_password').on('click', function(){
            var passwordField=$('#password');
            //now we need to check the type of field
            var passwordFieldType=passwordField.attr('type');
             //if it is password field we need to change it to the text field by jquery attribute method and show the password
             if(passwordFieldType=='password'){
                passwordFieldType.attr('type','text');
                $(this).text('Hide');
             }
             //else if the password field is of the type text then we need to change it to pasword so as to hide the password
             else{
                passwordFieldType.attr('type','password');
                $(this).text('Show');
             }
        });
    });

    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => container.classList.add('right-panel-active'));

    signInButton.addEventListener('click', () => container.classList.remove('right-panel-active'));
</script>

<script>
    
</script>

<%include ../partials/footer%>