<%include ../partials/header%>

<main class="page forgot-pass">
    <section class="forgot-pass-form dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header">
                            <h1>
                                Forgot Password
                            </h1>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <form action="/forgot" method="POST">
                                    <div class="form-group">
                                        <label for="email">Email: </label>
                                        <input type="email" name="email" autofocus class="form-control"
                                            placeholder="Enter E-Mail">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" value="Reset Password">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%include ../partials/footer%>