/*  ======================================
    Shopping Cart
    ====================================== */

.my-cart{
    margin:50px;
}

.my-cart .card-header{
    text-align: center;
}

/* Global "table" column settings */
.my-cart .product-image { float: left; width: 20%; }
.my-cart .product-details { float: left; width: 23%; }
.my-cart .product-price { float: left; width: 14%; }
.my-cart .product-quantity { float: left; width: 14%; }
.my-cart .product-removal { float: left; width: 12%; }
.my-cart .product-line-price { float: left; width: 17%; text-align: right; }

/* Body/Header stuff */

.my-cart .shopping-cart .product-image {
    color: rgb(82, 82, 82);
    font-weight: bold;
    text-align: center;
  }
.my-cart label {
  color: rgb(82, 82, 82);
  font-size: .85em;
  font-weight: bold;
  /* text-align: center; */
}


/* Column headers */
.my-cart .column-labels label{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
} 
  
.my-cart .list-group-item{
    height:150px;
}

/* Product entries */

.my-cart .product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  /* border-bottom: 1px solid #eee; */
}  

.my-cart .product .product-image {
    text-align: center;
}

.my-cart .product .product-image img {
    width: 100px;
    height:120px;
}

.my-cart .product .product-details .product-title {
    margin-right: 20px;
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}
.my-cart .product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
}

.my-cart .product .product-quantity input {
    width: 40px;
}
  
.my-cart .product .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
    font-size: 12px;
    border-radius: 3px;
}
  
.my-cart .product .remove-product:hover {
    background-color: #a44;
}


/* Totals section */

.my-cart .totals .totals-item  label {
      float: left;
      clear: both;
      width:80%;
      text-align: right;
}
    
.my-cart .totals .totals-item .totals-value {
      float: right;
      width: 20%;
      text-align: right;
      font-weight: bold;
}
  
.my-cart .totals .totals-item-total {
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}

.my-cart .checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.my-cart .checkout:hover {
  background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
    
    .my-cart{
        font-size: 0.8em;
    }

    .my-cart .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }
  
  .my-cart .column-labels {
    display: none;
  }
  
  .my-cart .product-image {
    float: right;
    width: auto;
    }
    .my-cart .product-image img {
      margin: 0 0 10px 10px;
    }
  
  
  .my-cart .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }
  
  .my-cart .product-price {
    clear: both;
    width: 70px;
  }
  
  .my-cart .product-quantity {
    width: 100px;
  }
  .my-cart .product-quantity input {
      margin-left: 20px;
    }
  
  
  .my-cart .product-quantity:before {
    content: 'x';
  }
  
  .my-cart .product-removal {
    width: auto;
  }
  
  .my-cart .product-line-price {
    float: right;
    width: 70px;
  }
  
  .my-cart .list-group-item{
    height:280px;
}
}


/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
    .my-cart{
        font-size: .8em;
    }
    .my-cart .product-removal {
        float: right;
    }
  
    .my-cart .product-line-price {
        float: right;
        clear: left;
        width: auto;
        margin-top: 10px;
    }

    .my-cart .totals .totals-item label {
        width: 60%;
    }
      
    .my-cart .totals .totals-item .totals-value {
        width: 40%;
    }

    .my-cart .list-group-item{
        height:350px;
    }
}

