/*  ========================================
    Preloader
    ======================================== */
#loading{
    position:fixed;
    width: 100%;
    height: 100vh;
    background:rgb(24, 3, 3) url('https://media.giphy.com/media/TZ3Y3sUWzrquY/giphy.gif') no-repeat center;
    z-index: 99999; 
}

    /*  ========================================
    show page for books and best selling 
    ========================================*/
.book-show{
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.book-show .card-title{
    text-align:center;
    font-size: 3em;
}

/* Styling the images of the show page */
.book-show .thumbnail{
    display: flex;
    flex-wrap: wrap;
    padding:0;
}

.book-show .thumbnail img{
    width:100%;
}

.book-show .thumbnail .caaption-full{
    padding:9px;
}

.book-show .book-image{
    text-align: center;
    width: 100%;
    padding: 10%;
    margin-top:10%;
    margin-left:5%;
}

@media only screen and (max-width:992px){
    .book-show .book-image{
        text-align: center;
        width: 100%;
        height:100%;
        padding: 5% 10%;
        margin-top:2%;
    }
}

.book-show{
    padding:20px;
    margin: 10px;
    margin-bottom: 20px;
    border:1px solid rgb(199, 195, 195);
}
/* comment section of show page */
.comment{
    padding:20px;
    margin:10px;
    margin-bottom: 30px;
}


/*  =====================================
    Register form
    ===================================== */

.register-form .full{
    width:40%;
    margin:50px auto;
}
    
.register-form form {
    border: 3px solid #f1f1f1;
    background: #FF4E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
      
.register-form .imgcontainer{
    text-align: center;
    margin: 24px 0 12px 0;
}
    
.register-form .avatar{
    width: 40%;
    border-radius:50%
}  
    
.register-form .container{
    padding: 20px;
}
    
.register-form button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
      
.register-form button:hover{
    opacity: 0.8;
}
    
.register-form input[type=text],.register-form input[type=email], .register-form input[type=password]{
    width:100%;
    padding: 5px 20px;
    margin-bottom: 2px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.register-form .to-signin{
    text-align: center;
    margin:0;
    padding:0;
}


/*  =====================================
    Login form
    ===================================== */

.login-form .full{
    width:40%;
    margin:50px auto;
}
    
.login-form form {
    border: 3px solid #f1f1f1;
    background: #C9FFBF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFAFBD, #C9FFBF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
      
.login-form .imgcontainer{
    text-align: center;
    margin: 24px 0 12px 0;
}
    
.login-form .avatar{
    width: 40%;
    border-radius:50%
}
    
    
.login-form .container{
    padding: 20px;
}
    
.login-form button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
      
.login-form button:hover{
    opacity: 0.8;
}
    
.login-form input[type=text],.login-form input[type=password]{
    width:100%;
    padding: 12px 20px;
    margin-bottom: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
    
.login-form span.psw{
    float:right;
    /* padding-top:16px; */
}
    
@media screen and (max-width: 300px) {
    .login-form span.psw {
       display: block;
       float: none;
    } 
}

.login-form .to-signup{
    text-align: center;
    margin:0;
    padding:0;
}
    
/*  ======================================
    Shopping Cart
    ====================================== */

.my-cart{
    margin:50px;
}

/*  ======================================
    User Profile
    ====================================== */

.userprofile .imgcontainer{
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
}
.userprofile .avatar{
    width: 100%;
    border-radius:50%
}

.userprofile .user-details{
    margin:10px;
    padding: 10px;
    margin-top: 60px;
    border:1px solid #ccc;
}

.userprofile input{
    width: 100%;
    border:none;
    border-bottom: 1px solid #ccc;
}

.userprofile .user-gender input{
    width:33%;  
}
/*  ======================================
    NAVBAR
    ====================================== */

.navbar .form-inline{
    margin-right:20px;
}

.navbar .dropdown .dropdown-toggle{
    color: rgb(136, 128, 128);
    margin: 0px;
    padding:10px;
    position: relative;
    padding-top:50px;
    padding-bottom: 0px;
}

/* ========================================
   TERMS PAGE
   ======================================== */

.terms-image {
    padding-bottom: 50px;
    width:90%;
    margin:0 auto;
}

.terms-image img {
    vertical-align: middle;
}

.terms-image .img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.terms-page .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.terms-page .terms {
    margin-top: -20%;
    padding: 1.5% 5% 3% 5%;
    background-color:white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-bottom: 30px;
}

/* ========================================
   CONTACT PAGE
   ======================================== */

.contact-image {
    padding-bottom: 50px;
    width:90%;
    margin:0 auto;
}

.contact image img {
    vertical-align: middle;
}

.contact-image .img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.contact-us-page .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contact-us-page .contact {
    margin-top: -20%;
    padding: 1.5% 5% 3% 5%;
    background-color:white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-bottom: 30px;
}

.contact-us-page .contact-address ul{
    padding: 0px;
}

.contact-us-page .contact-address li {
    list-style: none;
}

/* to give the icon some effects */
.contact-us-page .contact-address i {
    float: left;
    font-size: 1.1667em;
    margin-top:3px;
    background: #08918e;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50% 50% 50% 50%;
    color: #fff;
    text-align: center;
}

.contact-us-page .contact-address h4 {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0px 10px 0px;
    border-bottom: 1px solid Gray;
    width: 80%;
    color: #333;
    margin-bottom: 26px;
}

.contact-us-page .style .details {
    border-bottom: 1px solid #edf6ff;
    margin-left: 50px;
    padding-bottom: 15px;
    padding-left: 15px !important;
}

.contact-us-page .details h5 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 0px;
    color: #08918e;
}

.contact-us-page .details p {
    margin: 0 0 10px;
    font-size: 12px;
}

.contact-us-page a {
    color: #08918e;
    text-decoration: none;
}

.contact-us-page form {
    display: block;
    margin-top: 0em;
}

.contact-us-page .form-group {
    margin-bottom: 15px;
}

.contact-us-page .form-control {
    width: 100%;
    height: 42px;
    color: #555;
    background-color: #fff;
}

.contact-us-page .contact-form {
    background-color: gray;
    text-align: left;
    border-radius: 10px;    
}


/* for desktop */
.contact-us-page .contact-form h5 {
    font-size: 30px;
    font-weight: 700;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid white;
    width: 80%;
    color: White;
}

/* for mobile and tab */
@media only screen and (max-width: 992px) {
    .contact-us-page .contact-form h5 {
        font-size: 16px;
        padding: 10px 0px 5px 0px;
    }
}            

.contact-us-page .contact-form p {
    color: #FFF;
    font-size: 14px;
    line-height: 22px;
}

.contact-us-page .contact-form .btn-success{
    border-radius: 5px;
    padding: 5px 20px;
    margin: 0px 0px 10px 0px;
}

/*  =====================================
    ABOUT US 
    ===================================== */

.about-image {
    padding-bottom: 50px;
    width:90%;
    margin:0 auto;
}

.about-image img {
    vertical-align: middle;
}

.about-image .img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.about-us-page .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.about-us-page .about {
    margin-top: -20%;
    padding: 1.5% 5% 3% 5%;
    background-color:white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-bottom: 30px;
}

.about-us-page .about-form {
    background-color: rgb(255, 253, 148);
    text-align: left;
    border-radius: 10px;    
}

/*  =====================================
    Google Maps
    ===================================== */
#map {
    height: 400px;
    width: 100%;
}

/*  =====================================
    Footer
    ===================================== */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    background: #007b5e !important;
}

#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li{
	padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}

#footer ul.social li a, #footer ul.quick-links li a{
	color:#ffffff;
}

#footer ul.social li a:hover{
	color:#eeeeee;
}

#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}

#footer ul.quick-links li a i{
	margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}


/*  =====================================
    Scroll Top-up
    ===================================== */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: rgb(218, 39, 39);
  }