.reset-pass{
    margin:20px;
    width: 50%;
    margin:auto
}

.reset-pass .card-header{
    padding:30px;
    border: none;
    background-color: #ffe1e2;
}

.reset-pass .card{
    border-bottom: none;
    border-top: 2px solid #FF4B2B;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: #ffffff;
	padding: 0;
	margin: auto;
}

.reset-pass .btn{
    margin-top: 1em; 
	background-color: #FF4B2B;
	border-color:#FF4B2B;
}