<% include ../partials/header%>

<div class="container">
    <form action="/results" method="GET">
        <input type="text" placeholder="Enter movie name" name="search">
        <input type="submit">
    </form>
</div>

<% include ../partials/footer%>