<% include ../partials/header%>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Shopping Cart <span><a href="cart/remove">Empty Cart</a></span></h2>
            <%if(cart.items){%>
                <table>
                    <thead>
                        <tr>
                            <th width="650">Item</th>
                            <th width="100">Quantity</th>
                            <th width="100">Total</th>
                            <th width="100">Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%cart.forEach(function(item){%>
                            <tr>
                                <td><a href="books/<%=item._id%>"><%=item.title%></a></td>
                                <td><%=item.qty%></td>
                                <td>NIL</td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            <%}else{%>
                <p>There are no items in your cart</p>
            <%}%>
        </div>
    </div>
</div>

<% include ../partials/footer%>